<!DOCTYPE html> <!-- Yay, HTML 5! -->

<html>
<head>
	<title>Untold Stories | Multiplayer HTML5 Game</title> 
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<link rel="stylesheet" type="text/css" href="styles/buttons.css" />
	<link rel="stylesheet" type="text/css" href="styles/creatorui.css" />
	<link rel="stylesheet" type="text/css" href="styles/bigradiocheckbox.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxCore.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxModal.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxNotice.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxTooltip.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxTooltip-Black.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mForm.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/introjs.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Londrina+Solid" /> <!--font-->
</head>
<body>
	<!-- Scripts -->
	<script type="text/javascript" src="/js/globals.js"></script> <!-- generated dynamically by Node in server.js -->
	<!-- <script type="text/javascript" src="js/external/createjs.js"></script> -->
	<script type="text/javascript" src="js/external/mootools.js"></script>
	<script type="text/javascript" src="js/external/mootools-more-1.4.0.1.js"></script>
	<script type="text/javascript" src="js/external/mBox.All.min.js"></script> <!-- TODO port to jBox http://stephanwagner.me/jBox -->
	<script type="text/javascript" src="js/external/mForm.Core.js"></script>
	<script type="text/javascript" src="js/external/MUX.Loaders.min.js"></script>
	<script type="text/javascript" src="js/external/tinytab.js" ></script>
	<script type="text/javascript" src="js/client.js"></script>
	<% if (typeof(autojoin) !== 'undefined') { %>
		<!-- only used in development environment -->
		<script type="text/javascript">
			globals.autojoin = '<%= autojoin %>';
		</script>
	<% } %>

	<!-- DOM -->
	<div id="main" class="wrapper">
		<h1 id="logo">Untold Stories</h1>
		<div id="infobar">
			<div id="leftinfo">
				<p id="myname">&ndash; &ndash;</p><p class="details"><span id="mytype"></span><span class="status" id="mystatus"></span></p>
			</div>
			<div id="rightinfo">
				<p id="othername">&ndash; &ndash;</p><p class="details"><span class="status" id="otherstatus"></span><span id="othertype"></span></p>
			</div>
		</div>
		<div class="canvaswrap"><div id="textcontainer"></div>
			<canvas id="gamecanvas" width="480" height="416"></canvas>
		</div>
		<div id="initial">
			<button id="play" class="btn large babyblue">Play</button>
		</div>
		<div id="middle"></div>
		<div id="bottom"></div>
	</div>
	<div class="footer">
		<ul class="items">
			<li><a href="#">About</a></li>
			<li><a href="#">Credits</a></li>
			<li>Untold Stories &copy; 2014</li>
		</ul>
	</div>
	<div id="joinprompt" style="display: none;">
		<form id="joinform">
			<div class="section">
				<p>Who do you want to play as?</p>
				<div class="radioholder">
					<div class="radioline">
						<input type="radio" name="playertype" id="playerradio" class="regular-radio big-radio" value="player" checked />
						<label for="playerradio"></label><label for="playerradio" class="radiolabel" data-tooltip="Act as the player, controlling the hero and interacting with whatever happens along this crazy story.">Player</label>
					</div>
					<div class="radioline">
						<input type="radio" name="playertype" id="creatorradio" class="regular-radio big-radio" value="creator" />
						<label for="creatorradio"></label><label for="creatorradio" class="radiolabel" data-tooltip="Act as the creator, creating the entire game world piece by piece. You are the core storyteller of the game.">Creator</label>
					</div>
					<!-- TODO: Add 'Either' option -->
				</div>
			</div>
			<div class="section">
				<p>What is your name?</p>
				<input type="text" id="username" placeholder="Your username" data-required data-validate="/^\w[\w\d\-]{1,11}$/" data-tooltip="Enter any username you wish to use" />
			</div>
			<div class="section">
				<p>Are you joining someone in particular (private game)?</p>
				<input type="text" id="otherusername" placeholder="Other username (optional)" data-validate="/^\w[\w\d\-]{1,11}$/" data-tooltip="Enter the username of the other player you want to play with (or leave blank for matchmaking). If you enter a username here you will wait until that player joins you, at which point the game will start automatically." />
			</div>
		</form>
	</div>
</body>
</html>
