<!DOCTYPE html> <!-- Yay, HTML 5! -->

<html>
<head>
	<title>Tabula Rasa</title> 
	<link rel="stylesheet" type="text/css" href="styles/style.css" />
	<link rel="stylesheet" type="text/css" href="styles/buttons.css" />
	<link rel="stylesheet" type="text/css" href="styles/creatorui.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxCore.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxModal.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mBoxNotice.css" />
	<link rel="stylesheet" type="text/css" href="styles/external/mForm.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Londrina+Solid"> <!--font-->
</head>
<body>
	<!-- Scripts -->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script><!-- loaded dynamically by Node -->
	<script type="text/javascript" src="/js/globals.js"></script> <!-- generated dynamically by Node in server.js -->
	<script type="text/javascript" src="http://code.createjs.com/createjs-2013.02.12.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
	<script type="text/javascript" src="js/external/mootools-more-1.4.0.1.js"></script>
	<script type="text/javascript" src="js/external/mBox.All.min.js"></script>
	<script type="text/javascript" src="js/external/MUX.Loaders.min.js"></script>
	<script type="text/javascript" src="js/external/tinytab.js" ></script>
	<script type="text/javascript" src="js/client.js"></script>
	<script type="text/javascript" src="js/classes/App.js"></script>
	<script type="text/javascript" src="js/classes/Game.js"></script>
	<script type="text/javascript" src="js/classes/TileBoard.js"></script>
	<script type="text/javascript" src="js/classes/TileType.js"></script>
	<script type="text/javascript" src="js/classes/BoardTile.js"></script>
	<script type="text/javascript" src="js/classes/ObjectBoard.js"></script>
	<script type="text/javascript" src="js/classes/ObjectType.js"></script>
	<script type="text/javascript" src="js/classes/BoardObject.js"></script>
	<script type="text/javascript" src="js/classes/Hero.js"></script>


	<!-- DOM -->
	<div id="main" class="wrapper">
		<h1 id="logo">Tabula Rasa</h1>
		<div id="infobar"><div id="leftinfo">&ndash;&ndash;</div><div id="rightinfo">&ndash;&ndash;</div></div>
		<div class="canvaswrap">
			<canvas id="gamecanvas" width="480" height="416"></canvas>
		</div>
		<div id="initial">
			<button id="play" class="btn large babyblue">Play</button>
		</div>
		<div id="middle"></div>
		<div id="bottom"></div>

        <div id="toolbar" style="display:none"></div>
		<div id="selectorTabs" style="display:none">
			<ul class="tabs">
			  <li>Tiles</li>
			  <li>Objects</li>
			</ul>
			<ul class="contents">
			  <li>
			  	<div id="tileSelect">
			  </li>
			  <li>
			  	<div id="objectSelect">
			  </li>
			</ul>
		</div>

	</div>
	<div class="footer">
		<ul class="items">
			<li><a href="#">About</a></li>
			<li><a href="#">Credits</a></li>
			<li>Tabula Rasa &copy; 2013</li>
		</ul>
	</div>
</body>
</html>
