body {
	font-family: sans-serif;
	color: #333;
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

div.wrapper {
	width: 580px;
	background-color: #fff;
	box-shadow: 0 5px 8px rgba(0,0,0,0.3) !important;
	padding: 10px 0;
	margin: 0 auto;
	position: relative;
}

.wrapper h1#logo {
	text-align: center;
	height: 72px;
	line-height: 72px;
	margin: 10px auto;
	font-family: 'Londrina Solid', sans-serif;
	font-weight: normal;
	font-size: 4em;
}

.wrapper #infobar {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.4)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)); 
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 4px;
	margin: 5px 50px;
	color: #fff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	height: 35px;
	position: relative;
}

.wrapper #infobar #leftinfo, .wrapper #infobar #rightinfo {
	position: absolute;
	width: 40%;
	line-height: 35px;
}

.wrapper #infobar #leftinfo {
	left: 30px;
	text-align: left;
}

.wrapper #infobar #rightinfo {
	right: 30px;
	text-align: right;
}

.wrapper .canvaswrap {
	/* Needed to center the canvas */
	width: 482px;
	margin: 20px auto 10px auto;
}

canvas#gamecanvas {
	border: 1px solid gray;
	width: 480px;
	height: 416px;
}

.wrapper #initial {
	position: absolute;
	top: 350px;
	width: 100%;
	text-align: center;
}

#bottom {
	padding: 0 50px;
	text-align: right;
	margin-bottom: 35px;
}

#bottom #tutorialBtn {
	float: left;
}

.footer {
	font-size: 0.8em;
	text-align: center;
	margin: 15px auto;
	color: #aaa;
}

.footer ul.items {
	padding: 0;
 	display: inline;
}

.footer ul.items li {
	display: inline;
	list-style: none;
}

.footer ul.items li a, .footer ul.items li a:active, .footer ul.items li a:visited {
	color: #999;
}